body{
font-family:Tahoma;
background:#e8f5e9;
margin:40px;
}

.container{
background:white;
padding:25px;
border-radius:10px;
max-width:600px;
margin:auto;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

input,select{
width:100%;
padding:8px;
margin-bottom:10px;
}

button{
padding:12px;
background:#4CAF50;
color:white;
border:none;
cursor:pointer;
}

.pass{
color:green;
font-weight:bold;
}

.fail{
color:red;
font-weight:bold;
}

#error{
color:red;
}
